[Unit]
Description=Load X keyboard modifier maps
ConditionPathExists=/etc/X11/Xmodmap
After=xorg.target
Requires=xorg.target
Before=e17_early.service

[Service]
Type=oneshot
ExecStart=/usr/bin/xmodmap /etc/X11/Xmodmap

[Install]
WantedBy=core-efl.target
